body {
    margin: 0;
    font-family: $font-body;
}

a {
    color: inherit;

    &:hover {
        color: $color-primary;
    }
}

.feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}
