$sidenav-width: 320px;
$sidenav-vpadding: 40px;
$sidenav-hpadding: 32px;

@media (min-width: 1050px) {
    body {
	    padding-left: $sidenav-width;
    }
}

@media (max-width: 1049px) {
    body {
        padding-top: 80px;

        & > main {
            margin-top: 16px;
            padding-left: 32px !important;
            padding-right: 32px !important;
        }
    }
}

.sidenav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: $sidenav-width;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background: $color-accent;
    box-sizing: border-box;
    padding: $sidenav-vpadding $sidenav-hpadding;
    color: white;
    font-family: $font-title;

    h1 {
        margin: 0;
        font-size: 1.8rem;
        font-weight: normal;

        a:hover {
            text-decoration: underline;
        }
    }

    h3 {
        color: rgba(white, 0.8);
        font-size: 1rem;
        font-weight: normal;
        margin-top: 0.1rem;
        margin-bottom: 0;
    }

    nav {
        margin-top: 2rem;
        flex: 1;

        h5 {
            margin-bottom: 0.5rem;
            font-size: 0.75rem;
            font-weight: 400;
            color: rgba(white, 0.8);
            text-transform: uppercase;
        }

        ul {
            margin-left: -$sidenav-hpadding;
            margin-right: -$sidenav-hpadding;
        }

        a {
            padding: 10px $sidenav-hpadding;
            display: block;
        }

        hr {
            border-color: rgba(white, 0.1);
            margin: 8px 0;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        transition: 0.25s background;

        &.active {
            background: rgba(white, 0.2) !important;
        }

        &:hover {
            background: rgba(white, 0.08);
        }
    }

    a {
        color: rgba(white, 0.9);
        text-decoration: none;
    }

    &__icons {
        display: flex;
        align-self: flex-start;

        a {
            padding: 0 8px;
        }
    }

    .feather {
        width: 20px;
        height: 20px;
    }

    @media (max-width: 1049px) {
        z-index: 1000;
        width: 100%;
        transition: 0.25s all;
        bottom: inherit;

        nav, .sidenav__icons {
            display: none;
        }

        &--expanded {
            height: 100%;
        }

        &:not(&--expanded) {
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}
